@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color: #1D232A;
    font-family: 'Open Sans', 'icones', sans-serif;
    color: #ffffff;
}

@media screen and (min-width: 1440px){
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color : #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.header__menu i::before{
    content: "\e904";
    font-size: 24px;
    cursor: pointer;
}

.header__notification i::before{
    content: "\e906";
    font-size: 24px;
    cursor: pointer;
}

.header__logo{
    width: 40px;
    cursor: pointer;
}

.header__profile{
    display: none;
}

@media screen and (min-width: 1440px){
    .header{
        background-color: #1D232A;
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .header__menu, .header__logo{
        display: none;
    }

    .header__profile{
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 8px;
        align-items: center;
        justify-self: flex-end;
        color: #95999C;
        padding: 8px 32px;
        border-right: 1px solid #95999C;
    }

    .header__profile::before{
        content:"";
        display: block;
        width: 32px;
        height: 32px;
        background-image: url(../img/profile_2.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .header__profile::after{
        content: "\e90d";
        color: #ffffff;
        font-size: 1.5rem;
    }
}

.menu-left{
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;
    transition: .25s;
    background: linear-gradient(180deg, #15191C 20%, #1D232A 80%);
    
    position: absolute;
    left: -100vw;
}

.menu-left--active{
    left: 0;
    transition: .25s;
}

.menu-left__logo{
    align-self: center;
    width: 118px;
    padding: 16px;
    cursor: pointer;
}

.menu-left__link{
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-left__link:hover{
    color: #ffffff;
    padding-left: 56px;
    border-left: 8px solid #ffffff;
    transition: .3s;
}

.menu-left__link--active{
    color: #ffffff;
    padding-left: 56px;
    border-left: 8px solid #ffffff;
}

.menu-left__link::before{
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.menu-left__link--home::before{
    content: "\e902";
}

.menu-left__link--videos::before{
    content: "\e90e";
}

.menu-left__link--peaks::before{
    content: "\e909";
}

.menu-left__link--members::before{
    content: "\e903";
}

.menu-left__link--shirts::before{
    content: "\e900";
}

.menu-left__link--paintings::before{
    content: "\e90a";
}

@media screen and (min-width: 1440px){
    .menu-left{
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }
}

.main {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.page-title {
    font-size: 1.5rem;
    font-weight: 700;
}

.section-title{
    font-size: 1.2rem;
    font-weight: 700;
}

@media screen and (min-width: 1440px){
    .main{
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas: 
            "page-title page-title page-title"
            "highlight-video highlight-video recent-videos"
            "videos-section videos-section videos-section"
            "recent-products highlight-products highlight-products "
            "products-section products-section products-section"
        ;
        column-gap: 32px;
        padding: 16px 60px;
        grid-column: 2;
    }

    .section-title{
        grid-column: span 4;
    }
}

.card {
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    background-color: #2C343A;
}

.card__image--desktop{
    display: none;
}

.card--highlight{
    margin-bottom: 16px;
}

.card__content {
    padding: 16px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.card__highlight{
    grid-column: span 2;
}

.card__title {
    font-size: 1em;
    font-weight: 700;
    grid-column: span 2;
}

.card__profile {
    color: #95999C;
    font-size: 0.9rem;
    grid-column: span 2;
}

.card__info {
    display: flex;
    align-items: center;
    color: #95999C;
}

.card__info--time::before {
    content: "\e90c";
    margin-right: 8px;    
}

.card__info--views::before {
    content: "\e90f";
    margin-right: 8px;    
}

.card__info--price::before {
    content: "\e905";
    margin-right: 8px;    
}

.card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0480DC;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    justify-self: flex-end;
}

.card__button--play::before {
    content: "\e90b";
    font-size: 24px;
}

.card__button--buy::before {
    content: "\e901";
    font-size: 24px;
}

.card__button--highlight {
    width: 100%;
    grid-column: span 2;
}

.card__button--highlight::before {
    margin-right: 8px;
}

.card--recent{
    display: none;
}

@media screen and (min-width: 1440px){
    .card--highlight{
        margin-bottom: 0;
    }

    .card__image--mobile{
        display: none;
    }

    .card__image--desktop{
        display: block;
    }

    .card__button--highlight{
        grid-column: auto;
        padding: 16px 8px;
    }

    .card--recent{
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        row-gap: 24px;
        width: 256px;
        padding: 16px;
        box-sizing: border-box;
        align-self: flex-start;
    }

    .card--recent .card__title{
        grid-column: auto;
    }

    .card__link{
       font-size: 0.8rem;
       font-weight: 600;
       color: #0480DC;
       justify-self: flex-end;
    }

    .card__list{
        display: grid;
        row-gap: 16px;
        grid-column: span 2;
    }

    .card__item{
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 8px;
    }

    .card__item-thumbnail{
        width: 32px;
        grid-row: span 2;
    }

    .card__item-title{
        font-size: 0.9rem;
        line-height: 1.2rem;
        font-weight: 700;
    }

    .card__item-profile{
        font-size: 0.8rem;
        color: #95999C;
    }
}

.section{
    display: grid;
    gap: 16px;
}

@media screen and (min-width: 1440px){
    .section{
        grid-template-columns: repeat(4, 1fr);
    }

    .highlight-video {
        grid-area: highlight-video;
    }
    
    .recent-videos {
        grid-area: recent-videos;
    }
    
    .videos-section {
        grid-area: videos-section;
    }
    
    .highlight-products {
        grid-area: highlight-products;
    }
    
    .recent-products {
        grid-area: recent-products;
    }
    
    .products-section {
        grid-area: products-section;
    }
}